*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Canva Sans", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(116, 75, 21);
}

header{
    background-color: rgb(116, 75, 21);
    width: 100%;
    height: 100%;
    padding: 0.001rem;
}

#Pesquisa{
    text-decoration: none;
}
